venv310/
.DS_Store
runs/
Dataset/
legalpdf/
Legal Compilance/medwaste_guardian_rag.zip
/backend/models/vosk-model-en-in-0.5/
Legal\ Compilance/medwaste_guardian_rag.zip
backend/models/medwaste_index2/

venv310/
